.eclipse svg #sun-g {
  transform: translateX(200px);
  animation: sun-g 5s ease 1s;
}

.eclipse svg #sun {
  transform: translateX(-200px);
  animation: sun 5s ease 1s;
}

@keyframes sun-g {
  0% {
    transform: translateX(200px);
  }
  45%,
  55% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes sun {
  0% {
    transform: translateX(-200px);
  }
  45%,
  55% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}
