@import "reset.css";

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=East+Sea+Dokdo&family=Gugi&display=swap");
/* 
font-family: 'Dokdo', cursive;
font-family: 'East Sea Dokdo', cursive;
font-family: 'Gugi', cursive; 
*/

/* variables */
@import "variables.css";

/* components */
@import "component/building.css";
@import "component/eclipse.css";
@import "component/menu.css";

body {
  display: flex;
  flex-direction: column;
  animation: sky var(--animation-duration) forwards;
}

div {
}
